---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
type Props = {
    project: CollectionEntry<"projects">;
};

const {
    project: {
        data: { title, description, stack, image, href },
    },
} = Astro.props;
---

<a target={href !== "" ? "_blank" : "_self"} href={href}>
    <article
        class="group border border-transparent hover:border-teal-100 rounded-lg gap-5 sm:grid-cols-8 grid p-5 hover:bg-slate-800"
    >
        <Image
            class="col-span-3 rounded-lg aspect-video"
            src={image}
            alt={title}
            width={150}
            height={150}
            format="webp"
        />
        <div class="col-span-5">
            <h4 class="group-hover:text-teal-300 font-medium leading-tight">
                {title}
            </h4>
            <p class="mt-2 text-sm leading-normal">{description}</p>
            <ul class="flex gap-2 flex-wrap mt-2">
                {
                    stack.map((s) => (
                        <li class="bg-teal-400/10 py-1 px-2 rounded-full text-teal-300 text-sm">
                            {s}
                        </li>
                    ))
                }
            </ul>
        </div>
    </article>
</a>

<style>
    article {
        transition-property: background opacity;
    }

    article h4 {
        transition-property: color;
    }

    article img {
        transition-property: border;
    }

    article,
    article h4,
    article img {
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 200ms;
    }
</style>
